<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<!--171 TD_TBS DB Connection -->
		<!--<add key="DBCONNSTRING" value="LbEv2FRHqkIMLIzhIV/QOsiGP00kFDnCG9EYB0SeUtCmdiRTXD2aTKVb5Z48qeJwe/y/qlWby2Ybp+S+Nw5Im4KkVidXVuLPa475RGSk7taS3UyHKpjM4OCT6N/ANWVNLT6wCfZfMac=" />-->
		<!--<add key="DBCONNSTRINGMCS" value="LbEv2FRHqkIMLIzhIV/QOsiGP00kFDnCLUW/vWaygEJhhBdlH0baVqMwk+geNpcuJSuWmNm92HI3GIdGapm0y2NU1CLxq7LoNqUpqVv5SmpduHyoAS2k1OEKMT8p11ux" />-->
		<add key="DBCONNSTRINGMCS" value="LbEv2FRHqkIMLIzhIV/QOsiGP00kFDnCcYBDwAtTktvZ4Tasc+ArR1Q3pa3Z8VLbsW9qTcczFyhGiC191GmXEjfChRpQlpKVyQULOFpLzqmadOv/BOE1VdUp8hc4Ido4"/>
		<add key="DBMSSQLCONNSTRING" value="aKbMuzS2poz0YFTME5XX4viIQxCbanUeleDuXdU0/cxjW5DketyrOK5zXw6A7MVrl2qLxpy9kC0vmX6E84lNdEsGBeXUeYYpZ7WeW/KDoLs="/>
		<!-- 52.221.121.85 -->
		<!--<add key="DBMSSQLCONNSTRING" value="1weGQqbmkdtOWQwMR6XBL8YGi1Fj2S8r0I6JFhrXnDN6I6EOwxJOy3mIQYeWe9rQBVSsDnONrcolGRngTeL1HwHeSyS7kwQAoY/6JvSQ0Kl00+7qf+SZNqEax0qsnYVxP4g/82tth2dZCGWb6zrg0IielDzd08Uv" />-->
		<!-- 34.217.233.104 -->
		<!--<add key="DBMSSQLCONNSTRING" value="LbEv2FRHqkIMLIzhIV/QOsiGP00kFDnCG9EYB0SeUtCmdiRTXD2aTLj2rKacRWrdIPyHF1Md8lx/ZhM234r50EHmWceOdK+a5iiGILcgLNTSF1N6z9Y9l71gYluxk1XV" />-->
		<!--WBE Test-->
		<!-- 52.221.121.85 -->
		<!--<add key="DBCONNSTRING" value="LbEv2FRHqkIMLIzhIV/QOsiGP00kFDnC3wNX75Qs9NTZRpq1CqBxyMM0Ay/ksA1PP1p1JPLhskLqnKi0+ocshqbxpbHjr3acNwQWp7S67EfGKNZe2HHTRA2ff0MhKRu0jmMLM9Xsu8p7KoP2N1v9nA==" />-->
		<!-- 34.217.233.104 -->
		<add key="DBCONNSTRING_DEV" value="LbEv2FRHqkIMLIzhIV/QOsiGP00kFDnCG9EYB0SeUtCmdiRTXD2aTLj2rKacRWrdIPyHF1Md8lx/ZhM234r50EHmWceOdK+a5iiGILcgLNTSF1N6z9Y9l71gYluxk1XV"/>
		<!--WBE Pro-->
		<add key="DBCONNSTRING_PRO" value="LbEv2FRHqkIMLIzhIV/QOsiGP00kFDnCZvzzU5qNr4l9VGUJk1WP1QcsBY9J1Csnop78TVC1Tos52RrexGdj8J86LzPuej7jp8A/oHU/vFZr8tUJJXTU27cff+FZ3dSs"/>
		<!--171 TD_TBS DB Connection-End-->
		<!--<add key="USERNAME" value="WebMaster"/>
		<add key="VERSION" value="1.0"/>
		<add key="ConnectTimeout" value="300"/>-->
		<!--<add key="FileServerPath" value="C:\\Inetpub\\wwwroot\\TBS"/>
		<add key="LogFilelocation" value="E:\\TOPOCEAN\\topocean.com\\TBS\\TBS\\LOG"/>
		<add key="ExcelExportpath" value="C:\\TBS\\EXCEL"/>-->
		<!--<add key="EMAILFORREQUESTCREATE" value="FALSE"/>-->
		<!--<add key="SystemName" value="TBS"/>-->
		<!--<add key="InvalidPasswordCount" value="5"/>
		<add key="EMAILFROM" value="gavin_tse@topocean.com.hk"/>
		<add key="EMAILTO" value="gavin_tse@topocean.com.hk"/>
		<add key="SMTPSERVER" value="smtp.topocean.com.hk"/>
		<add key="SMTPPORT" value="25"/>
		<add key="SMTPAUTHFED" value="http://schemas.microsoft.com/cdo/configuration/smtpauthenticate"/>
		<add key="SMTPAUTHFEDVALUE" value="1"/>
		<add key="SMTPUSRNAMEFED" value="http://schemas.microsoft.com/cdo/configuration/sendusername"/>
		<add key="SMTPUSRNAMEFEDVALUE" value="sender@topocean.com.hk"/>
		<add key="SMTPPWDFED" value="http://schemas.microsoft.com/cdo/configuration/sendpassword"/>
		<add key="SMTPPWDVALUE" value=""/>-->

		<!--<add key="usehttps" value="false"/>-->
		<add key="DebugLevel" value="2"/>
		<!-- 1: production; 2: development, 3: all -->
		<!--<add key="CSRFTokenKey" value="CSRFTokenActionPrefix"/>-->
		<!-- config for DateFormat-->
		<add key="DefaultDateFormat" value="MM/dd/yyyy"/>
		<!-- System Default Date Format -->
		<!--<add key="UseSessionDateFormat" value="false"/>-->
		<!-- if use the Login.DateFormat which store in session -->
		<!--<add key="DateFormatSessionKey" value="DateFormat"/>-->
		<!-- the session name which used to store Login.DateFormat -->

		<!-- config for MCS-->
		<!--<add key="AllowUpdateByMCSVessel" value="1"/>
		<add key="AllowMCSToken" value="0F221FD1-6F8E-411B-88A4-340AB7F91775"/>
		<add key="TBS_Vessel_Master_URL" value="http://210.176.173.122:8084"/>-->
		<!-- UAT/DEV: http://210.176.173.122:8084; Production: http://newmcs.topocean.com.hk -->

		<!-- skip Add new Booking page -->
		<!--<add key="SkipAddnew" value="1"/>-->

		<!-- config for WBI Service-->
		<add key="WBISRV_APP_CODE" value="TOPOL-WBI-WMS-US"/>
		<add key="SERVICE_ACC_TOKEN" value="access_token"/>
		<add key="SERVICE_REFRESH_TOKEN" value="refresh_token"/>
		<add key="API_END_POINT" value="https://qa-api.topocean.com/gateway/1"/>

		<add key="HC_USER" value="CommonServiceUser"/>
		<add key="HC_USERPW" value="sGbRro62V2qe0eUOBeVWcQ=="/>

		<!-- TBS Mail setting -->
		<!--<add key="TBS_DEFAULT_SENDER" value="web@topocean.com"/>
		<add key="TBS_SMTPSERVER" value="localhost"/>
		<add key="TBS_SMTPPORT" value="25"/>

		<add key="TBS_SMTPAUTHFED" value="http://schemas.microsoft.com/cdo/configuration/smtpauthenticate"/>
		<add key="TBS_SMTPAUTHFEDVALUE" value="1"/>

		<add key="TBS_SMTPUSRNAMEFED" value="http://schemas.microsoft.com/cdo/configuration/sendusername"/>
		<add key="TBS_SMTPUSRNAMEFEDVALUE" value="sender@topocean.com.hk"/>

		<add key="TBS_SMTPPWDFED" value="http://schemas.microsoft.com/cdo/configuration/sendpassword"/>
		<add key="TBS_SMTPPWDVALUE" value=""/>-->

		<!-- EFreight AMS Setting -->
		<!--<add key="IsAMSTest" value="Y"/>
		<add key="IsCheckAsRegex" value="Y"/>-->

		<!-- options: L-SERVICE / EF-SERVICE / FTP; default L-SERVICE -->
		<!--<add key="AMSSubmitMethod" value=""/>
		<add key="AMSHandler" value="efreight"/>-->
		<!-- EFreight AMS Setting - End-->
		<!--<add key="bizName" value="WebApi"/>
		<add key="API_URL" value="https://qa-api.topocean.com"/>-->

		<!-- AWS basic setting -->
		<add key="AWSProfileName" value="default"/>
		<add key="AWSProfilesLocation" value="C:\aws_service_credentials\credentials"/>
		<add key="AWSRegion" value="ap-southeast-1"/>

		<!-- setting for S3 -->
		<add key="AWSS3DocBucket" value="topol-docs"/>
		<add key="AWSS3ReportSubFolder" value="GTtest"/>
		<add key="JSONTemplate" value="E:\\TOPOCEAN\\topocean.com\\TBS\\TBS\\JSONTemplate"/>

		<!-- setting for API -->
		<add key="bizName" value="WebApi"/>
		<add key="AWSBucketToLabel" value="qa-api-topocean"/>

		<!-- setting Terminal pageSize -->
		<add key="pageSize_Terminal_POST" value="10"/>
		<add key="pageSize_OpenTrack_POST" value="2"/>
		<add key="pageSize_Terminal_GET" value="5"/>
		<add key="pageSize_OpenTrack_GET" value="5"/>
		<!-- setting Terminal ETD ~ ATD days -->
		<add key="Terminal_API_Days" value="30"/>
		<!-- setting APM Terminal Carrier List -->
		<add key="APM_Terminal_CarrierList" value="MAERSK,MSC,COSCO,EVERGREEN"/>
		<add key="APM_Terminal_Discharge_Port" value="USMOB,USLAX"/>

		<!-- Template Height Setting-->
		<add key="PrePrintForm_Cntr_Height" value="50"/>
		<!-- Development:DEV/Production:PRO -->
		<add key="ASPNET_ENVIRONMENT" value="PRO"/>
		<add key="SHA_MAIL" value="ethanshen@topocean.com.cn;lindama@topocean.com.cn;cindysu@topocean.com.cn"/>
		<add key="OFFICE_LIST" value="SHA"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
</configuration>
