<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
	<variable name="myvar" value="myvalue"/>

	<variable name="variable1" value="${newline}date：	${date}${newline}level：	${level}${newline}logger：	${logger} ${newline}message：	${message}${newline}basedir：	${basedir}
${newline}callsite：	${callsite}${newline}callsite-linenumber：	${callsite-linenumber}${newline}counter：	${counter}${newline}nlogdir：	${nlogdir}
${newline}processid：	${processid}${newline}processname：	${processname}
${newline}stacktrace: ${stacktrace}${newline}-----------------------------------------------------------" />
	<!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
	<targets>
		<target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target name="filelog" xsi:type="File" fileName="${basedir}/NLog/${shortdate}/filelog.txt" layout="${variable1}" />
		</target>
		<target name="consolelog" xsi:type="OutputDebugString" layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>

		<target name="debugger" xsi:type="Debugger"
					  layout="${date:format=HH\:mm\:ss} | ${level:padding=-5} | ${message}" />

		<target name="db" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="Database"
				  name="DatabaseFile"
				  dbProvider="System.Data.SqlClient"
				  commandText="INSERT INTO [dbo].[ApplicationLog]
           ([LogLevel]
           ,[LogPriority]
           ,[LogDate]
           ,[AppDomain]
           ,[AppName]
           ,[WindowsIdentity]
           ,[AspnetMVCController]
           ,[AspnetMVCAction]
           ,[AspnetRequestCookie]
           ,[AspnetRequestHost]
           ,[AspnetRequestMethod]
           ,[AspnetRequestIP]
           ,[AspnetRequestQueryString]
           ,[AspnetRequestReferrer]
           ,[AspnetRequestUserAgent]
           ,[AspnetRequestUrl]
           ,[AspnetUserIdentity]
           ,[Message]
           ,[ExceptionMessage]
           ,[ExceptionStackTrace]
           ,[InnerException]
           ,[AppUser]
           ,[Machinename]
           ,[MachineUser]
           ,[CreateTime])
            VALUES
           (@LogLevel
           ,@LogPriority
           ,@LogDate
           ,@AppDomain
           ,@AppName
           ,@WindowsIdentity
           ,@AspnetMVCController
           ,@AspnetMVCAction
           ,@AspnetRequestCookie
           ,@AspnetRequestHost
           ,@AspnetRequestMethod
           ,@AspnetRequestIP
           ,@AspnetRequestQueryString
           ,@AspnetRequestReferrer
           ,@AspnetRequestUserAgent
           ,@AspnetRequestUrl
           ,@AspnetUserIdentity
           ,@Message
           ,@ExceptionMessage
           ,@ExceptionStackTrace
           ,@InnerException
           ,@AppUser
           ,@Machinename
           ,@MachineUser
           ,GETDATE());"
				  connectionString="Server=.;Initial Catalog=MyDbLog;User ID=sa;Password=123456;">
				<parameter name="@LogLevel" layout="${event-properties:item=LogLevel}" />
				<parameter name="@LogPriority" layout="${event-properties:item=Priority}" />
				<parameter name="@LogDate" layout="${date}" />
				<parameter name="@AppDomain" layout="${appdomain}" />
				<parameter name="@AppName" layout="${event-properties:item=AppName}" />
				<parameter name="@WindowsIdentity" layout="${windows-identity}" />
				<parameter name="@AspnetMVCAction" layout="${aspnet-MVC-Action}" />
				<parameter name="@AspnetMVCController" layout="${aspnet-MVC-Controller}" />
				<parameter name="@AspnetRequestCookie" layout="${aspnet-Request-Cookie}" />
				<parameter name="@AspnetRequestHost" layout="${aspnet-Request-Host}" />
				<parameter name="@AspnetRequestMethod" layout="${aspnet-Request-Method}" />
				<parameter name="@AspnetRequestIP" layout="${aspnet-Request-IP}" />
				<parameter name="@AspnetRequestQueryString" layout="${aspnet-Request-QueryString}" />
				<parameter name="@AspnetRequestReferrer" layout="${aspnet-Request-Referrer}" />
				<parameter name="@AspnetRequestUserAgent" layout="${aspnet-Request-UserAgent}" />
				<parameter name="@AspnetRequestUrl" layout="${aspnet-Request-Url}" />
				<parameter name="@AspnetUserIdentity" layout="${aspnet-User-Identity}"/>
				<parameter name="@Message" layout="${event-properties:item=Message}" />
				<parameter name="@ExceptionMessage" layout="${event-properties:item=ExceptionMessage}" />
				<parameter name="@ExceptionStackTrace" layout="${event-properties:item=ExceptionStackTrace}" />
				<parameter name="@InnerException" layout="${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
				<parameter name="@AppUser" layout="${event-properties:item=AppUser}" />
				<parameter name="@MachineName" layout="${machinename}" />
				<parameter name="@MachineUser" layout="${event-properties:item=MachineUser}" />
			</target>
		</target>

	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="filelog,consolelog,debugger" />
	</rules>
</nlog>