<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.2.0" newVersion="4.9.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- 34.217.233.104 -->
    <add key="DBCONNSTRING_DEV" value="LbEv2FRHqkIMLIzhIV/QOsiGP00kFDnCG9EYB0SeUtCmdiRTXD2aTLj2rKacRWrdIPyHF1Md8lx/ZhM234r50EHmWceOdK+a5iiGILcgLNTSF1N6z9Y9l71gYluxk1XV" />
    <!--WBE Pro-->
    <add key="DBCONNSTRING_PRO" value="LbEv2FRHqkIMLIzhIV/QOsiGP00kFDnCZvzzU5qNr4l9VGUJk1WP1QcsBY9J1Csnop78TVC1Tos52RrexGdj8J86LzPuej7jp8A/oHU/vFZr8tUJJXTU27cff+FZ3dSs" />
    <add key="ConnectTimeout" value="800" />
    <!--<add key="usehttps" value="false" />-->
    <add key="DebugLevel" value="2" />
    <!-- config for DateFormat-->
    <add key="DefaultDateFormat" value="MM/dd/yyyy" />
    <!-- config for WBI Service-->
    <add key="WBISRV_APP_CODE" value="65b7a6961d2027f559bbade39ada02face0a86b0ad3fb6dc0175e31670f9db49" />
    <add key="SERVICE_ACC_TOKEN" value="access_token" />
    <add key="SERVICE_REFRESH_TOKEN" value="refresh_token" />
    <add key="API_END_POINT" value="https://api.topocean.com/gateway/1" />
    <add key="HC_USER" value="CommonServiceUser" />
    <add key="HC_USERPW" value="sGbRro62V2qe0eUOBeVWcQ==" />
    <!-- AWS basic setting -->
    <add key="AWSProfileName" value="default" />
    <add key="AWSProfilesLocation" value="C:\aws_service_credentials\credentials" />
    <add key="AWSRegion" value="ap-southeast-1" />
    <!-- setting for S3 -->
    <add key="AWSS3DocBucket" value="s3_topol" />
    <add key="AWSS3ReportSubFolder" value="GTtest" />
    <!-- setting for API -->
    <add key="bizName" value="WebApi" />
    <add key="AWSBucketToLabel" value="qa-api-topocean" />
    <!-- Development:DEV;Production:PRO -->
    <add key="ASPNET_ENVIRONMENT" value="DEV" />
    <add key="TBS_DEFAULT_SENDER" value="web@topocean.com" />
    <add key="SHA_MAIL" value="ethanshen@topocean.com.cn" />
    <!-- MAL Send by 09:00 -->
    <add key="MAL_MAIL" value="ethanshen@topocean.com.cn" />
    <add key="SPRC_MAIL" value="ethanshen@topocean.com.cn" />
    <add key="AMSCenter_MAIL" value="ethanshen@topocean.com.cn" />
    <add key="Default_MAIL" value="lindama@topocean.com.cn,cindysu@topocean.com.cn,gavin_tse@topocean.com.hk" />
    <!-- SHA,SPRC  Send by 9:00 => 16:00-->
    <!-- AMSCenter Send by 9:00 => 17:00-->
    <!-- DAI Send by 09:00 => 16:00-->
    <add key="DAI_MAIL" value="ethanshen@topocean.com.cn" />
    <!-- XMN Send by 10:00 => 17:00-->
    <add key="XMN_MAIL" value="ethanshen@topocean.com.cn" />
    <!-- FZU Send by 09:00 => 16:00-->
    <add key="FZU_MAIL" value="ethanshen@topocean.com.cn" />
    <!-- TAO Send by 10:00 => 16:00-->
    <add key="TAO_MAIL" value="ethanshen@topocean.com.cn" />
    <!-- TAO Send by 09:00 => 16:00-->
    <add key="TWN_MAIL" value="ethanshen@topocean.com.cn" />
    <!-- TJN Send by 09:00 => 16:00-->
    <add key="TJN_MAIL" value="ethanshen@topocean.com.cn" />
    <!-- NGB Send by 09:00 => 16:00-->
    <add key="NGB_MAIL" value="ethanshen@topocean.com.cn" />
    <add key="OFFICE_GROUP" value="SHA,SPRC,AMSCenter,DAI,XMN,FZU,TAO,TWN,TJN,NGB,MAL" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>